@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #121212;
}

@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Book.ttf');
}

.logo, .hero, .name, .navbar, .skills, .skills-div, .contact, .work{
    font-family: 'Centra', sans-serif;
}

.hero::before{
    content: '';
    height: 100px;
}

.hero-text, .header{
    animation: slide-down;
    animation-duration: 2s;
}

.card-container{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container:hover{
    
    /* background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12) !important; */
    background: linear-gradient(90deg, rgba(0,182,255,1) 0%, rgba(167,0,255,1) 100%) !important
}

.hero{
    /* background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background-image: url('./assets/bg.svg');
}

.about-main{
    font-family: 'Edu TAS Beginner', cursive;
}

/* .skills-div{
    background: url('./assets/div-bg.jpg');
    background-position: center;
    background-size: cover;
} */

img{
    -webkit-user-drag: none;
}



::-webkit-scrollbar{
    width: 10px;
    background-color: #121212;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: darkgray;
    transition: 1s;
}



.about{
    font-family: 'Rubik', sans-serif;
    animation: slide-down;
    animation-duration: 2s;
}

.work-button::after, .work-button::before{

    border: 2px solid #fff;
    content: "";
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    left: 0;
    bottom: 0;
    transition: transform 0.3s ease;
}

.work-button:hover::after{
    transform: translate(-5px, -5px);
}


.work-button:hover::before{
    transform: translate(5px, 5px);
}

@keyframes slide-down{

    0% {transform: translateY(-100%);}
    100% {transform: translateY(0%);}

}

.icons{
    animation: icon-scale;
    animation-duration: 2s;
}

@keyframes icon-scale{

    0% {transform: scale(0, 0);}
    100% {transform: scale(1, 1);}

}

.contact-inputs input, textarea{
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5)
}

